@import './reset.css';
@import './variables.css';

@font-face {
  font-family: 'PTRootUIWebVF';
  src:
    url('../fonts/PT-Root-UI_VF.woff2') format('woff2'),
    url('../fonts/PT-Root-UI_VF.woff') format('woff');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

body {
  font-family: 'PTRootUIWebVF', sans-serif;
  color: var(--text-primary);
}

* {
  box-sizing: border-box;
}
