:root {
  --primary: #fff;
  --text-primary: #0B1739;
  --gradient-green: linear-gradient(#AEE4B2 0%, #95D0A1 100%);
  --dark-green: #3EB57C;
  --border-primary: #0000001A;
  --border-secondary: #0B173933;
}
